<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SILEX</title>
    <link rel="stylesheet" href="/web/src/style/bulma.min.css">
    <link rel="stylesheet" href="/web/src/style/style.min.css">
    <script src="https://use.fontawesome.com/4623293db5.js"></script>
  </head>
  <body>
